body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: sans-serif;
  min-height: 100vh;
  transition: background-image 0.8s ease-in-out;
  background-image: url("https://www.shutterstock.com/image-photo/puffy-clouds-blue-sky-600nw-2514467905.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body::before {
  content: "";
  position: fixed; /* fixed so it covers entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* overlay */
  z-index: 50;
  pointer-events: none; /* lets clicks pass through */
}
