.contact-container {
  color: #fff;
  padding: 50px 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  justify-content: center;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
}

.pill-nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.pill-btn {
  padding: 10px 25px;
  border-radius: 30px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  border: 1px solid white;
  background: linear-gradient(
    -135deg,
    #57769fff,
    #6b88b3,
    #8ca3c3,
    #a0b3cc,
    #a0b3cc,
    #c9d3dfff
  );
}

.pill-btn:hover {
  background: #fff;
  color: #0d0d0d;
}

.pill-btn.active {
  background: #fff;
  color: #0d0d0d;
}

.tab-content {
  background: linear-gradient(
    -135deg,
    #57769fff,
    #6b88b3,
    #8ca3c3,
    #a0b3cc,
    #a0b3cc,
    #c9d3dfff
  );
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.1);
  max-width: 700px;
  margin: auto;
  text-align: left;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
}

.contact-form button {
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: #fff;
  color: #0d0d0d;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #444;
  color: #fff;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-links li {
  margin: 10px 0;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s;
}

.social-links a:hover {
  color: #999;
}
